<h1>Seja bem-vindo Eduardo Feitosa</h1>
<div class="icone">
    <a href="~/Arquivos">
        <img src="~/Imagens/arquivos.png" alt="arquivos" title="Arquivos" />
        <br />
        Arquivos
    </a>
</div>
<div class="icone">
    <a href="~/Buscar">
        <img src="~/Imagens/buscar.png" alt="buscar" title="Buscar" />
        <br />
        Buscar
    </a>
</div>
<div class="icone">
    <a href="~/Tribunais">
        <img src="~/Imagens/tribunais.png" alt="tribunais" title="Tribunais" />
        <br />
        Tribunais
    </a>
</div>
<div class="icone">
    <a href="~/Usuarios">
        <img src="~/Imagens/usuarios.png" alt="usuarios" title="Usuários" />
        <br />
        Usuários
    </a>
</div>
<div class="icone">
    <a href="#">
        <img src="~/Imagens/sair.png" alt="sair" title="Sair" />
        <br />
        Sair
    </a>
</div>